*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #16171b;
}

.container {  
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 5fr minmax(300px, 1fr);
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas: "sidebar header header"
        "sidebar projects announcements"
        "sidebar projects trending";
        /* "footer footer footer"; */
    gap: 25px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-areas: "searchbar head-btn-top";
    background-color: #1f2125;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    position: sticky;
    top: 20px;
}

.searchbar-container {
    grid-area: searchbar;
}

.header-btn-top {
    grid-area: head-btn-top;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 100px 1fr 1fr;
    background-color: #1f2125;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    /* position: fixed;
    width: 291px; */
}

.sidebar-header {
    /* align-self: center; */
    background-image: url('./images/Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px;
}

.sidebar-container > button {
    margin: 0 20px;
    border-radius: 10px;
}

.sidebar-container > h2 {
    align-self: center;
    color: #54545c;
    font-size: 1rem;
    margin-left: 20px;
}

.sidebar-container {
    display: grid;
    grid-template-rows: repeat(3, 50px) 50px repeat(3, 50px);
    grid-template-columns: minmax(250px, 1fr);
    grid-auto-rows: 50px;
    margin-top: 20px;
}

.nav-btn {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
}

.nav-btn:focus {
    background-color: #09b377;
}

.btn-img {
    justify-self: center;
}

.btn-img > img {
    width: 20px;
    height: 20px;
}

.btn-text {
    text-align: left;
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    gap: 25px;
    padding: 15px;
    align-content: space-evenly;
    background-color: #1f2125;
    border-radius: 20px;
    margin-bottom: 20px;
}

.project-card { 
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin: 20px;
    border-radius: 20px;
}

.project-card:nth-child(1) {
    background-image: url('./images/dashboard.png');
    background-size: cover;
}

.project-card:nth-child(2) {
    background-image: url('./images/etch.png');
    background-size: cover;
    background-position: center;
}

.project-card:nth-child(3) {
    background-image: url('./images/poke.png');
    background-size: cover;
    background-position: center;
}

.project-card:nth-child(4) {
    background-image: url('./images/calc.png');
    background-size: cover;
    background-position: center;
}

.project-card:nth-child(5) {
    background-image: url('./images/babybarb.png');
    background-size: cover;
    background-position: center;
}

.project-card:nth-child(6) {
    background-image: url('./images/babybarb.png');
    background-size: cover;
    background-position: center;
}

.announcements {
    grid-area: announcements;
    display: grid;
    grid-template-columns: minmax(250px, 1fr);
    grid-template-rows: 25px repeat(3, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    gap: 20px;
    padding: 15px;
    align-content: space-evenly;
    background-color: #1f2125;
    border-radius: 20px;
    margin-right: 20px;
}

.announcements-header {
    align-self: center;
    color: #54545c;
    font-size: 1rem;
}

.trending-header {
    align-self: center;
    color: #54545c;
    font-size: 1rem;
}

.announcement-card,
.trend-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #1f2125;
}

.trending {
    grid-area: trending;
    display: grid;
    grid-template-columns: minmax(250px, 1fr);
    grid-template-rows: 25px repeat(4, minmax(25px, 1fr));
    grid-auto-rows: minmax(25px, 1fr);
    gap: 20px;
    padding: 15px;
    align-content: space-evenly;
    background-color: #1f2125;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* .footer {
    grid-area: footer;
} */