*{
    margin: 0;
    padding: 0;
}

.container {  
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 5fr minmax(300px, 1fr);
    grid-template-rows: 150px 1fr 1fr 100px;
    grid-template-areas: "sidebar header header"
        "sidebar projects announcements"
        "sidebar projects trending"
        "footer footer footer";
}

.container > div {
    border: 1px solid blue;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
    grid-template-rows: 20px repeat(3, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    gap: 25px;
    padding: 15px;
    align-content: space-evenly;
    grid-template-areas: "project-header project-header";
}

.project-header {
    grid-area: project-header;
    align-self: center;
}

.project {
    border: 1px solid red;
}

.announcements {
    grid-area: announcements;
    display: grid;
    grid-template-columns: minmax(250px, 1fr);
    grid-template-rows: 25px repeat(3, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    gap: 20px;
    padding: 15px;
    align-content: space-evenly;
}

.announcements-header {
    align-self: center;
}

.announcement {
    border: 1px solid red;
}

.trending {
    grid-area: trending;
}

.footer {
    grid-area: footer;
}